body {
  background-color: rgb(22, 22, 22);
  color: white;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.location-input {
  background-color: transparent;
  font-size: 3vw;
  color: white;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 10px;
  width: 80%;
  height: 50px;
}

.weather-icon {
  width: 150px;
  /* display: none; */
}

.weatherman {
  width: 50px;
  align-self:self-end;
  margin-bottom: 100px;
}