h3{
    font-size: 2.1vw;
}

.day-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(69, 69, 69);
    border-radius: 20px;
    width: 100%;
    height: 5vw;
    padding: 12px;
}
.day-forecast img {
    width: 50px;
    margin-left: 10px;
}
.day-forecast span {
    margin-right: 10px;
    font-size: 1.4vw;
}

.five-day-forecast {
    width: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    align-items: center;
}

.weather-temp-icon-group {
    display: flex;
    flex-direction: row;
}

hr {
    width: 90%;
    margin-top: -40px;
}

.hide {
    display: none;
}

@media only screen and (max-width: 900px) {
    .day-forecast img{
        display: none;
    }
}