.day-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.day-forecast img {
    width: 50px;
    margin-left: 10px;
}
.day-forecast span {
    margin-right: 10px;
}

.five-day-forecast {
    width: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.weather-temp-icon-group {
    display: flex;
    flex-direction: row;
}

hr {
    width: 90%;
    margin-top: -40px;
}

.hide {
    display: none;
}