.history-and-facts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.history span {
    margin-bottom: 20px;
    font-size: 20px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}
.history span:hover {
    cursor: pointer;
    background-color: rgb(69,69,69);
}

.search-history-h2 {
    margin-top: -20px;
}

.thermostat {
    background-color: transparent;
    border: 1px solid rgb(69,69,69);
    border-radius: 10px;
    font-size: 20px;
    color: white;
    width: 60%;
    height: 50px;
}

.thermostat-form {
    margin-bottom: 20px;
}

.facts {
    margin-top: -40px;
}